{% extends "layout.html" %}
{% block content %}

	<h1>More Info</h1>
	<br>
	<h3> What is a blockchain? </h2> 
	<p> A blockchain collects information in groups known as blocks. This information is publicly available & verifiable.  
		Every interaction on the blockchain is permanent. This creates an irreversible timeline of trustable interactions.

	</p>
	<h3> what is Dartcoin?</h3>
	<p> It's built on a blockchain that relies on user interaction. When you want to send Dartcoins to another user, you 
		place in the amount, their username, and you're done! Once another user mines that block, then the other person will get their 
		money. Plus (like in every other blockchain) the user that mines that block (through doing a simple math problem on their computer) will get a reward as well.
		After the block is mined, then it will be added to the blockchain for all of eternity. 
	</p>
	<h3> What is it used for?</h3>
	<p> I honestly have no clue. trading DBA, meal swipes, or wanting to get a friend back for being a good person? Send them some Dartcoins today :)</p>
{% endblock content %}
